<div class="container bg-light pb-1">
  <div class="row d-flex justify-content-md-between">


    <div class="col-12 col-md-3 order-md-last">
      <aside class="bg-white px-3 pb-1 mt-4 mb-2 border">
        <div class="text-center">
          <h2>Galleria</h2>
          <figure class="figure">
            <img class="figure-img img-fluid d-md-block" src="assets/images/galleria/waterpark.jpg" alt="Waterpark">
            <img class="figure-img img-fluid d-md-block" src="assets/images/galleria/tower.jpg" alt="Tower">
            <img class="figure-img img-fluid d-md-block" src="assets/images/galleria/beach.jpg" alt="Beach">
          </figure>
        </div>
      </aside>
    </div>



    <div class="col-12 col-md-9 order-md-first">
      <section class="bg-white px-3 mt-4 mb-2 border">
        <h2>Nicksta</h2>
        <article class="article">
          <h3>Bo nära Nynäshamns populära havsbad</h3>
          <figure class="figure float-left">
            <img src="assets/images/camping.jpg" alt="Camping" width="80" height="80">
            <figcaption class="figcaption">Havscamping</figcaption>
          </figure>
          <p>
            Campingplatsen ligger vid Nickstabadet, Nynäshamns populära havsbad med stor fin sandstrand.
          </p>
          <p>
            Här finns 130 campingtomter för husvagnar, husbilar och tält, samt 28 stugor för dig som kommer utan eget boende men ändå
            vill njuta av anläggningens service och utbud.
          </p>
        </article>

        <article class="article">
          <h3>Plaska, åk vattenrutschkana, hyr kanot</h3>
          <figure class="figure float-left">
            <img src="assets/images/kanot.jpg" alt="Kanot" width="80" height="80">
            <figcaption class="figcaption">Kanotuthyrning</figcaption>
          </figure>
          <p>
            Vid stranden finns brygga med hopptorn, lång vattenrutschbana och du kan hyra kanot och kajak. Minigolf, kiosk, grill och
            glassbar finns också här, samt restaurang med rättigheter. Trubadurkvällar anordnas också.
          </p>
          <p>
            Härifrån är det 700 meter till pendeltågstation (hpl Nynäsgård) med 55 minuters restid till Stockholms centralstation. Ca
            10 min promenad till Nynäshamns centrum för shopping och många restauranger och för båtar till Gotland, Lettland,
            Polen och omkringliggande skärgård. Sommartid finns gott om intressanta utflyktsmöjligheter i omgivningarna.
          </p>
        </article>
      </section>
    </div>
  </div>
</div>